*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-box{
  padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    height: calc(100vh - 70px);
}